{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{/each}}
<h1 class="display-4 text-center">
</h1>
<div class="mt-5 mx-auto mb-5">
  <h1 class="display-4 text-center">Meus tópicos</h1>
</div>

<div class="row">
{{#each studies}}
<div class="col-sm-6 col-md-4 mb-3">
<div class="card" style="">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{categories}}</h6>
    <p class="card-text">{{desc}}</p>
    <a class="continuarEstudo"
    href="/study/readMore/{{_id}}" class="card-link">Continuar estudo</a>
    <a class="apagarEstudo" 
    href="/study/delete/{{_id}}" class="card-link">Apagar</a>
  </div>
</div>
</div>
{{/each}}
</div>
