{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{/each}}
<h1 class="display-4 text-center">
Hoje é dia 30 de março. O que faremos?</h1>
<div class="options mt-5 mb-5">
    <a href="">
        <button type="button" class="btn btn-info btn-lg">Continuar estudo</button>
    </a>
    <a href="/study/">
        <button type="button" class="btn btn-dark btn-lg">Novo estudo</button>
    </a>
</div>

<div class="row">
{{#each studies}}
<div class="col-sm-6 col-md-4 mb-3">
<div class="card" style="">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{category}}</h6>
    <p class="card-text">{{desc}}</p>
    <a href="/study/readMore/{{_id}}" class="card-link">Continuar estudo</a>
    <a href="/study/delete/{{_id}}" class="card-link">Apagar</a>
  </div>
</div>
</div>
{{/each}}

</div>


