{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{/each}}

<div class="mt-5 mx-auto mb-5">
  <h1 class="display-4 text-center">Meus tópicos</h1>
</div>

<div class="row col-12">
{{#each studies}}
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" 
  aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLongTitle">Exclusão de tópico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem certeza de que deseja excluir esse tópico de estudo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Deixa pra lá</button>
        <a href="/study/delete/{{_id}}"> 
        <button type="button" class="btn btn-primary">Quero apagar!</button></a>
      </div>
    </div>
  </div>
</div>
<!-- /modal -->
<div class="col-sm-6 col-md-4 mb-3">
  <div class="card" style="">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{categories}}</h6>
      <p class="card-text">{{desc}}</p>
      <a class="continuarEstudo" href="/study/readMore/{{_id}}" 
      class="card-link">Continuar estudo</a>    
      <a href="#" class="apagarEstudo" data-toggle="modal" 
      data-target="#modal">Apagar</a>
    </div>
  </div>
</div>
{{/each}}
</div>

