{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{/each}}
<h3 class="text-center mb-4">Atualizar tópico de estudo</h3>
<form class="mt-4" method="post" action="/study/validate/2">
  <div class="form-group row text-center">
    <label for="title" class="col-sm-2 col-form-label">Título:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" placeholder="Título do estudo" 
        name="title" value="{{study.title}}">
    </div>
  </div>
  <div class="form-group row text-center">
    <label for="description" class="col-sm-2 col-form-label">Descrição:</label>
     <div class="col-sm-8">
      <input type="text" class="form-control" placeholder="Descrição do estudo"
      name="description" value="{{study.desc}}">
    </div>
  </div>
  <div class="form-group row text-center">
    <label for="category" class="col-sm-2 col-form-label">Categoria:</label>
     <div class="col-sm-8">
      <input type="text" class="form-control" placeholder="Categoria do estudo"
      name="category" value="{{study.category}}">
    </div>
  </div>
  <div class="form-group row text-center">
    <label for="content" class="col-sm-2 col-form-label">Conteúdo:</label>
    <div class="col-sm-8">
    <textarea class="form-control" name="content" rows="8">{{study.content}}</textarea>
    </div>
  </div>
  <div class="form-group row">
      <button class="btn btn-success mx-auto" type="submit">Atualizar</button>
      <button class="btn btn-warning mx-auto" type="reset">Recomeçar</button>
  </div>
</form>