<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6 d-flex justify-content-start">
            <a href='/'>
            <button type="button" class="btn btn-light">É o bastante. Quero voltar!</button>
        </a>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a href='/study/edit/{{study._id}}'>
    <button type="button" class="btn btn-light">Alterar tópico</button>
        </a>
    </div>
</div>

<div class="title">
    <h1 class="info" name="title" value="{{study.title}}">
        {{study.title}}</h1>
    <hr>
</div>
<div>
    <p class="subtitle" name="subtitle" value="{{study.desc}}">
        {{study.desc}}
    </p>
</div>
<div>
    <p class="content" name="content" value="{{study.content}}">
        {{study.content}}
    </p>
</div>
    </div>
</div>
